microservice-simple-provider-user/target/
microservice-consumer-movie-feign-manual/target/
microservice-consumer-movie-feign-customizing/target/
microservice-simple-provider-user-with-auth/target/
microservice-simple-provider-user-with-auth/.idea/
microservice-simple-provider-user/.idea/
microservice-consumer-movie-feign-manual/.idea/
microservice-consumer-movie-feign-manual/microservice-consumer-movie-feign-manual.iml
microservice-simple-provider-user/microservice-provider-user.iml
microservice-simple-provider-user-with-auth/microservice-provider-user.iml
microservice-consumer-movie-feign-customizing/.idea/
microservice-simple-consumer-movie-feign-logging/target/
microservice-consumer-movie-ribbon-hystrix/.idea/
microservice-simple-consumer-movie-feign-logging/.idea/
microservice-consumer-movie-ribbon-hystrix/target/
microservice-simple-consumer-movie/.idea/
microservice-simple-consumer-movie/target/
*.iml
microservice-hystrix-turbine-mq/mvnw
microservice-hystrix-turbine-mq/mvnw.cmd
microservice-hystrix-turbine-mq/.mvn/
microservice-consumer-movie-ribbon-hystrix-turbine-mq/.idea/
microservice-consumer-movie-ribbon-hystrix-turbine-mq/target/
microservice-hystrix-dashbord/mvnw
*.cmd
microservice-consumer-movie-feign-hystrix-fallback-stream/.idea/
microservice-gateway-zuul/.mvn/
microservice-hystrix-dashbord/.mvn/
microservice-gateway-zuul/mvnw
microservice-consumer-movie-feign-hystrix-fallback-stream/target/
microservice-hystrix-turbine/.mvn/
microservice-hystrix-turbine/mvnw
node-service/.idea/
node-service/node_modules/
node-service/bin/
microservice-file-upload/.mvn/
microservice-file-upload/mvnw
microservice-gateway-zuul-aggregation/.mvn/
microservice-gateway-zuul-fallback/.mvn/
microservice-gateway-zuul-filter/.mvn/
microservice-sidecar/.mvn/
microservice-config-client/.mvn/
microservice-config-client/mvnw
microservice-config-server/mvnw
microservice-config-server/.mvn/
microservice-config-server/.gitignore
